$bgColor: #F6F7FB;
$bgContainer: #FFFFFF;
$small-font-color: #00A599;
$large-font-color: #202020;
$small-font-size: 14px;
$large-font-size: 38px;
$font-family: "Inter", "Sans Serif";
$font-weight: 400;
$tablet-breakpoint: 428px;