$mobile-heading-sizes: (
  h1:24px, 
  h2:22px,
  h3:20px, 
  h4:18px, 
  h5:16px, 
  h6:14px
);
$desktop-heading-sizes: (
  h1:36px, 
  h2:32px,
  h3:28px, 
  h4:24px, 
  h5:20px, 
  h6:18px
);
$mobile-line-height: (
  h1:36px, 
  h2:32px,
  h3:30px, 
  h4:28px, 
  h5:24px, 
  h6:22px
);
$desktop-line-height: (
  h1:48px, 
  h2:42px,
  h3:38px, 
  h4:34px, 
  h5:28px, 
  h6:24px
);

@each $headings, $sizes in $mobile-heading-sizes{
  #{$headings}{
    font-size: $sizes;
    line-height: map-get($mobile-line-height, $headings);
    @media screen and (min-width:768px){
      font-size: map-get($desktop-heading-sizes, $headings);
      line-height: map-get($desktop-line-height, $headings);
    }
  }
}