$bgColor: #F3F8FF;
$bgContent: #fff;
$buttonColor: #FFC247;
$font-color: #02033B;
$font-family: "Inter", "Sans serif";
$font-weight-head: 800;
$font-weight-body: 700;
$body-font: 23px;
$sub-body-font: 16px;
$head-font: 56px;