$bgColor: #093944;
$font-color-primary: #FFFFFF;
$font-color-secondary: #90A5A9;
$font-color-tertiary: #00A599;
$line-color: #20545F;

$font-family: Inter, "Sans Serif";
$font-size-head: 38px;
$font-size-body: 20px;
$font-size: 14px;
$font-size-button: 15px;
$font-weight: 400;
